/* reset styles */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Digital-7";
  src: url(./fonts/digital-7.ttf);
}
